
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.gallery-6K1 {
  box-sizing: border-box;
  padding: 67.1rem 0rem 5.2rem 4.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27-bg.png');
  background-color: #ffffff;
}
.gallery-6K1 .pangong-lake-R6P {
  margin-right: 5.7rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-6K1 .line-1-JAB {
  margin-bottom: 2.2rem;
  width: 115.5rem;
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
