
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.testimonial-9M9 {
  box-sizing: border-box;
  padding: 16.5rem 9.8rem 16.6rem 9.8rem;
  width: 100%;
  height: 76.8rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.testimonial-9M9 .group-695-4j1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.testimonial-9M9 .group-695-4j1 .customer-review-1u9 {
  margin-bottom: 5.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2325;
  text-transform: capitalize;
  color: #1c2b38;
  font-family: Montaga, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF {
  width: 100%;
  row-gap: 2.6rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd {
  margin-left: 8rem;
  width: calc(100% - 8rem);
  height: 13.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB {
  margin: 0.3rem 8.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB .group-229-Jmm {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB .group-229-Jmm .star-1-KKV {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB .group-229-Jmm .star-2-TAo {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB .group-229-Jmm .star-3-bno {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB .group-229-Jmm .star-4-wrf {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB .group-229-Jmm .star-5-JhD {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-309-ZpB .arlene-mccoy-TKD {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.255;
  text-transform: capitalize;
  color: #1c2a38;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-312-AzK {
  width: 91rem;
  height: 100%;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-312-AzK .group-311-Xps {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-312-AzK .group-311-Xps .good-tour-really-well-organised-gxf {
  margin-right: 58.9rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  color: #1c2a38;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-312-AzK .group-311-Xps .group-310-ZFm {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-312-AzK .group-311-Xps .group-310-ZFm .helpful-7YB {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.255;
  text-transform: capitalize;
  color: #778088;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-312-AzK .group-311-Xps .group-310-ZFm .yes-EMu {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.255;
  text-transform: capitalize;
  color: #7bbcb0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-hpeb-dfd .group-312-AzK .the-tour-was-very-well-organised-one-minus-is-that-you-get-completely-bombarded-with-information-you-also-have-to-stand-up-for-too-long-at-the-private-entrance-to-the-tower-of-london-which-leads-to-a-lack-of-time-later-lunch-was-the-same-too-stress-the-quality-was-great-but-you-couldnt-enjoy-it-id-like-to-ask-the-organisers-please-Zuy {
  max-width: 68.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: #495560;
  font-family: Mulish, 'Source Sans Pro';
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .rectangle-181-Aes {
  width: 100%;
  height: 0.1rem;
  background-color: #e8eaeb;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 {
  margin-left: 8rem;
  width: calc(100% - 8rem);
  height: 13.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u {
  margin: 0.3rem 6rem 0rem 0rem;
  width: 12rem;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .group-229-muZ {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .group-229-muZ .star-1-VKm {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .group-229-muZ .star-2-RjD {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .group-229-muZ .star-3-Awh {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .group-229-muZ .star-4-XGT {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .group-229-muZ .star-5-UBh {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .frame-34-d4b {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .frame-34-d4b .jenny-wilson-nCP {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.255;
  text-transform: capitalize;
  color: #1c2a38;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-309-r1u .frame-34-d4b .bi-check-all-WPH {
  width: 2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-312-TZR {
  width: 91rem;
  height: 100%;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-312-TZR .group-311-1qq {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-312-TZR .group-311-1qq .informative-but-disappointed-not-seeing-changing-of-the-guards-NgP {
  margin-right: 35.4rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  color: #1c2a38;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-312-TZR .group-311-1qq .group-310-gSB {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-312-TZR .group-311-1qq .group-310-gSB .helpful-caj {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.255;
  text-transform: capitalize;
  color: #778088;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-312-TZR .group-311-1qq .group-310-gSB .yes-vLX {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.255;
  text-transform: capitalize;
  color: #7bbcb0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .auto-group-9bef-7a7 .group-312-TZR .the-tour-was-very-well-organised-one-minus-is-that-you-get-completely-bombarded-with-information-you-also-have-to-stand-up-for-too-long-at-the-private-entrance-to-the-tower-of-london-which-leads-to-a-lack-of-time-later-lunch-was-the-same-too-stress-the-quality-was-great-but-you-couldnt-enjoy-it-id-like-to-ask-the-organisers-please-TbM {
  max-width: 68.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: #495560;
  font-family: Mulish, 'Source Sans Pro';
}
.testimonial-9M9 .group-695-4j1 .group-691-JtF .rectangle-182-rNb {
  width: 100%;
  height: 0.1rem;
  background-color: #e8eaeb;
  flex-shrink: 0;
}
