
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.gallery-6K1 {
  display: flex;
  align-items: flex-end;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 67.1rem 0rem 5.2rem 4.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9a7a22dc5b081bb0419ca6dca9b9b5d2e22c5115');
  background-color: #ffffff;

  .pangong-lake-R6P {
    margin-right: 5.7rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    flex-shrink: 0;
    font-weight: 600;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .line-1-JAB {
    width: 115.5rem;
    height: 0.1rem;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2.2rem;
  }
}
