
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.gallery-DwM {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 67.1rem 0rem 5.2rem 4.9rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:cf1b02273ca7085cf34a04f2a934908068acd69f');

  .ghode-pani-xtw {
    font-size: 3rem;
    font-weight: 600;
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
  }
  .line-1-tGo {
    flex-shrink: 0;
    margin-bottom: 2.2rem;
    width: 124.1rem;
    height: 0.1rem;
    background-color: #ffffff;
  }
}
