
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.information-page-jzw {
  box-sizing: border-box;
  padding: 1.3rem 3.155rem 1.3rem 9.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  .unsplash-tqpypka92k8-4XR {
    background-image: url('REPLACE_IMAGE:a7907e6d41f076a453d414da39994bf10a99d588');
    margin: 0rem 7.3rem 4.5rem 0rem;
    width: 32.7rem;
    height: 69.7rem;
    background-color: #c4c4c4;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 7.5rem;
    flex-shrink: 0;
  }
  .group-23-WeK {
    width: 84.1445rem;
    border-radius: 1rem;
    flex-shrink: 0;
    margin-bottom: 2.7rem;

    .leh-ladakh-2sZ {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.6rem;
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.5;
    }
    .ladakh-is-a-paradise-for-adventure-enthusiasts-and-culture-lovers-alike-key-attractions-include-the-pangong-lake-nubra-valley-tso-moriri-lake-and-the-monasteries-such-as-hemis-thiksey-and-lamayuru-motorbiking-and-cycling-over-the-high-mountain-passes-trekking-in-the-rugged-terrain-and-river-rafting-in-the-indus-are-popular-activities-ZMh {
      font-weight: 400;
      line-height: 2;
      color: rgba(0, 0, 0, 0.5);
      font-family: Poppins, 'Source Sans Pro';
      margin-bottom: 3rem;
      max-width: 81.2rem;
      font-size: 2rem;
    }
    .ladakh-is-nestled-between-the-kunlun-mountain-range-in-the-north-and-the-main-great-himalayas-to-the-south-it-is-a-high-altitude-desert-characterized-by-its-stark-beauty-arid-mountains-and-crystal-clear-waters-wNF {
      color: rgba(0, 0, 0, 0.5);
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 0rem 2.6rem 0.145rem;
      max-width: 82.1rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2;
    }
    .group-17-ZPd {
      background-color: #3e86f5;
      margin-left: 0.1rem;
      color: #ffffff;
      justify-content: center;
      border-radius: 1rem;
      box-shadow: 0.4rem 0.8rem 2.5rem rgba(62, 134, 245, 0.25);
      width: 22.5rem;
      height: 7.5rem;
      white-space: nowrap;
      font-size: 2rem;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      font-weight: 400;
      line-height: 1.5;
      display: flex;
    }
  }
}
