
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.login-page-q7M {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 12.05rem;
  width: 100%;

  .auto-group-qjk9-vPh {
    box-sizing: border-box;
    height: 76.8rem;
    background-color: rgba(54, 54, 54, 0.5);
    background-image: url('REPLACE_IMAGE:87c3673cb51e7612036d231fa7bf24ceb8386a18');
    flex-shrink: 0;
    margin-right: 15.95rem;
    padding: 11.8rem 12.4rem 11.8rem 12.3rem;
    background-size: 219.843% 130.08%;
    background-position: -40.9264rem -23.1016rem;

    .welcome-to-vr-travel-experience-MdR {
      font-size: 7rem;
      font-weight: 600;
      line-height: 1.0857142857;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      max-width: 43.6rem;
      text-align: center;
    }
    .auto-group-qjk9-vPh-bg {
      height: 76.8rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:87c3673cb51e7612036d231fa7bf24ceb8386a18');
      width: 68.3rem;
    }
  }
  .auto-group-kzhm-V7M {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 16.6rem;
    width: 40.3rem;
    align-items: center;

    .group-686-ZN7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 2.2rem 2.9rem;
      align-items: center;

      .welcome-tQP {
        font-weight: 800;
        line-height: 0.6486486486;
        color: #009ee2;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        font-size: 7.4rem;
      }
      .login-with-email-ao1 {
        flex-shrink: 0;
        margin-right: 4.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2175;
        color: rgba(0, 0, 0, 0.5);
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-90-QxP {
      margin: 0rem 3.9rem 2.4rem 0rem;
      width: 36.4rem;
      height: 6.3rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-7-guu {
        height: 5.4rem;
        position: absolute;
        left: 0;
        top: 0.9rem;
        border: solid 0.1rem #009ee2;
        box-sizing: border-box;
        border-radius: 0.9rem;
        width: 36.4rem;
      }
      .group-89-zQo {
        align-items: center;
        width: 15.8882rem;
        height: 2.4rem;
        position: absolute;
        left: 2rem;
        top: 2.4rem;
        display: flex;

        .vuesax-linear-sms-ibh {
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.6882rem;
          width: 2.4rem;
        }
        .thisuixmailcom-eVM {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2857142857;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .group-88-mZy {
        width: 5rem;
        height: 2rem;
        position: absolute;
        left: 1.6rem;
        top: 0;

        .rectangle-24-JZu {
          background-color: #ffffff;
          width: 5rem;
          height: 1.6rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .email-id-2ko {
          height: 1.5rem;
          left: 0.5rem;
          top: 0.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #009ee2;
          white-space: nowrap;
          width: 4.1rem;
          position: absolute;
          font-size: 1rem;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .group-92-HRq {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 3.9rem 2rem 0rem;
      width: 36.4rem;
      height: 6.3rem;

      .rectangle-7-o9H {
        border: solid 0.1rem #009ee2;
        box-sizing: border-box;
        border-radius: 0.9rem;
        width: 36.4rem;
        height: 5.4rem;
        position: absolute;
        left: 0;
        top: 0.9rem;
      }
      .group-88-KtK {
        width: 6rem;
        height: 2rem;
        position: absolute;
        left: 1.6rem;
        top: 0;

        .rectangle-24-gD5 {
          background-color: #ffffff;
          width: 6rem;
          height: 1.6rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .password-Dio {
          position: absolute;
          top: 0.5rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.5;
          width: 5.1rem;
          height: 1.5rem;
          left: 0.5rem;
          color: #009ee2;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-71-YFH {
        position: absolute;
        left: 2rem;
        top: 2.4rem;
        display: flex;
        align-items: center;
        width: 14.1938rem;
        height: 2.4rem;

        .vuesax-linear-lock-5W7 {
          width: 2.4rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.6882rem;
        }
        .item--1uZ {
          flex-shrink: 0;
          margin-bottom: 0.0736rem;
          width: 11.1056rem;
          height: 0.5264rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-pupj-8UP {
      margin: 0rem 2.7rem 2.4rem 0.55rem;
      width: calc(100% - 3.25rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .dont-have-an-account-479 {
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
        margin: 0rem 8.15rem 0.4rem 0rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .forgot-your-password-VTM {
        white-space: nowrap;
        margin-top: 0.4rem;
        text-align: center;
        font-family: Montserrat, 'Source Sans Pro';
        color: rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .group-93-B5H {
      display: flex;
      border: solid 0.1rem rgba(255, 255, 255, 0.150000006);
      background-color: #009ee2;
      text-align: center;
      justify-content: center;
      box-sizing: border-box;
      border-radius: 0.5rem;
      line-height: 1.2857142857;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      width: calc(100% - 27.8rem);
      height: 4.8rem;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      align-items: center;
      box-shadow: 0 1.6rem 3.2rem rgba(0, 158, 226, 0.1000000015);
      margin: 0rem 15.85rem 0rem 11.95rem;
      flex-shrink: 0;
    }
  }
}
